{% extends "app/layout.html" %} {% block content %}
<div class="contacts-container">
  <div class="address-container">
    <address>
      <p class="address address-city">Псковская область, Псков</p>
      <p class="address address-street">Улица Комунальная, дом 15</p>
      <abbr class="address address-phone" title="Телефон">Телефон: +7 911 352 42 62</abbr>
    </address>

    <address>
      <p class="email support-title">Поддержка: <a class="email-link" href="mailto:Support@example.com">Help@HardGame.com</a></p>
      <p class="email marketing-title">Отдел маркетинга: <a class="email-link" href="mailto:Marketing@example.com">Market@HardGame.com</a></p>
    </address>
  </div>
</div>
{% endblock %}
