{% extends "app/layout.html" %} {% block content %}
<div class="contacts-container">
  <div class="address-container">
    <address>
      <p class="address address-city">Псковская область, Псков</p>
      <p class="address address-street">Улица Некрасова 17/11</p>
      <abbr class="address address-phone" title="Телефон">Телефон: 8(951)757-97-01 </abbr>
    </address>

    <address>
      <p class="email support-title">Поддержка: <a class="email-link" href="mailto:Support@example.com"> travel.profi@yandex.ru</a></p>
      <p class="email marketing-title">Отдел маркетинга: <a class="email-link" href="mailto:Marketing@example.com">N89517579740@yandex.ru</a></p>
    </address>
  </div>
</div>
{% endblock %}
